@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");
#VirtualAssistant {
  width: 100vw;
  height: 100vh;
  background-color: #130303;
  background-image: url("../../assets/images/bgs/bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-auto-flow: row;
}

textarea {
  resize: none;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* <--------------------------- VIRTUAL ASSISTANT ---------------------------> */
/* /////////////////////////////////////////////////////////////////////////// */
.virtual-assistant-container {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.virtual-assistant {
  background-color: #fff;
  height: 250px;
  width: 250px;
  border-radius: 150px;
  animation: spin 2s linear infinite;
  box-shadow: inset 0 0 62px #fff, inset 24px 0 62px #f155e4,
    inset -24px 0 62px #5dfcfc, inset 24px 0 30px #f155e4,
    inset -24px 0 30px #5dfcfc, 0 0 52px #fff, -16px 0 52px #f155e4,
    16px 0 52px #5dfcfc;
}

.paused {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: inset 0 0 62px #fff, inset 24px 0 62px #f155e4,
      inset -24px 0 62px #5dfcfc, inset 24px 0 30px #f155e4,
      inset -24px 0 30px #5dfcfc, 0 0 50px #fff, -16px 0 50px #f155e4,
      16px 0 50px #5dfcfc;
  }
  25% {
    transform: rotate(90deg);
    box-shadow: inset 0 0 62px #fff, inset 24px 0 62px #f155e4,
      inset -24px 0 62px #0ff, inset 24px 0 30px #f155e4,
      inset -24px 0 30px #0ff, 0 0 60px #fff, -16px 0 60px #f155e4,
      16px 0 60px #0ff;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: inset 0 0 62px #fff, inset 24px 0 62px #f155e4,
      inset -24px 0 62px #5dfcfc, inset 24px 0 30px #f155e4,
      inset -24px 0 30px #5dfcfc, 0 0 70px #fff, -16px 0 70px #f155e4,
      16px 0 70px #5dfcfc;
  }
  75% {
    transform: rotate(270deg);
    box-shadow: inset 0 0 62px #fff, inset 24px 0 62px #f155e4,
      inset -24px 0 62px #0ff, inset 24px 0 30px #f155e4,
      inset -24px 0 30px #0ff, 0 0 60px #fff, -16px 0 60px #f155e4,
      16px 0 60px #0ff;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: inset 0 0 62px #fff, inset 24px 0 62px #f155e4,
      inset -24px 0 62px #5dfcfc, inset 24px 0 30px #f155e4,
      inset -24px 0 30px #5dfcfc, 0 0 50px #fff, -16px 0 50px #f155e4,
      16px 0 50px #5dfcfc;
  }
}
/* /////////////////////////////////////////////////////////////////////////// */
/* <----------------------------- GLASSMORPHIC ------------------------------> */
/* /////////////////////////////////////////////////////////////////////////// */
.glass-panel {
  color: #d1cfcf;
  border-radius: 9px;
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  /* background-color: rgba(117, 46, 126, 0.379); */
  background-color: rgba(19, 3, 3, 0.4);
  border: 3px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 3px rgba(40, 40, 40, 0.35) solid;
  border-right: 3px rgba(40, 40, 40, 0.35) solid;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
  width: 48rem;
  height: 13rem;
  padding: 2rem;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Cutive", serif;
  line-height: 1.9rem;
}
#instructions {
  color: #d1cfcf;
  border-radius: 9px;
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  /* background-color: rgba(117, 46, 126, 0.379); */
  background-color: rgba(19, 3, 3, 0.4);
  border: 3px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 3px rgba(40, 40, 40, 0.35) solid;
  border-right: 3px rgba(40, 40, 40, 0.35) solid;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
  width: 48rem;
  height: 13rem;
  padding: 2rem;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Cutive", serif;
  line-height: 1.7rem;
  /* --------------------- */
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#transcript {
  color: #d1cfcf;
  border-radius: 9px;
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  /* background-color: rgba(117, 46, 126, 0.379); */
  background-color: rgba(19, 3, 3, 0.4);
  border: 3px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 3px rgba(40, 40, 40, 0.35) solid;
  border-right: 3px rgba(40, 40, 40, 0.35) solid;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
  width: 48rem;
  height: 13rem;
  padding: 2rem;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Cutive", serif;
  line-height: 1.9rem;
  /* --------------------- */
  margin-bottom: 10px;
}
#messages {
  color: #d1cfcf;
  border-radius: 9px;
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  /* background-color: rgba(117, 46, 126, 0.379); */
  background-color: rgba(19, 3, 3, 0.4);
  border: 3px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 3px rgba(40, 40, 40, 0.35) solid;
  border-right: 3px rgba(40, 40, 40, 0.35) solid;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
  width: 48rem;
  height: 13rem;
  padding: 2rem;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Cutive", serif;
  line-height: 1.9rem;
  /* --------------------- */
  margin-top: 2px;
}
.glass-button {
  display: inline-block;
  padding: 1.4rem 2.2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  text-transform: uppercase;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 3.2rem 0 rgba(31, 38, 135, 0.37);
  font-size: 1.8rem;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
}
.glass-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#messages {
  height: 10rem;
}
.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* /////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------  MODAL ---------------------------------  */
/* /////////////////////////////////////////////////////////////////////////// */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  position: relative;
  margin: 1.75rem auto;
  max-width: 650px;
  color: #d1cfcf;
  border-radius: 14px;
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  background-color: rgba(117, 46, 126, 0.379);
  /* background-color: rgba(19, 3, 3, 0.4); */
  border: 3px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 3px rgba(40, 40, 40, 0.35) solid;
  border-right: 3px rgba(40, 40, 40, 0.35) solid;
  font-size: 1.6rem;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
  padding: 1rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}
/* ////////////////////////////////////////////////////////////////////////// */
/* <------------------------------ LISTEN BTNS -----------------------------> */
/* ////////////////////////////////////////////////////////////////////////// */
.mic-btn {
  top: 10px;
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
}
.hot-mic-btn {
  top: 0;
  /* position: absolute; */
  width: 70px;
  height: 70px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* <------------------------------ RESPONSIVE ------------------------------> */
/* ////////////////////////////////////////////////////////////////////////// */
/* ------------------------------ Ipad/Ipad Pro ------------------------------ */
@media screen and (max-device-width: 800px) {
  /* TRANSCRIPT DISPLAY */
  /* GLASS */
  .glass-panel {
    width: 35rem;
    height: 10rem;
    font-size: 1.8rem;
  }
  /* INSTRUCTIONS DISPLAY */
  .instructions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 17rem;
    margin-top: 2rem;
  }
  .message-textbox {
    margin-top: 2rem;
  }
  /* ////////////////////////////////////////////////////////////////////////// */
  /* <------------------------------ LISTEN BTNS -----------------------------> */
  /* ////////////////////////////////////////////////////////////////////////// */
  .mic-btn {
    top: 10px;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .hot-mic-btn {
    top: 0;
    width: 50px;
    height: 50px;
  }
}
/* -------------------------------------  ------------------------------------- */
@media screen and (max-device-width: 780px) {
  /*  */
}

/* ---------------- Iphone 6/7/8Plus/X (6/7/8 are ~okay~ ish) ---------------- */
@media screen and (max-device-width: 500px) {
  /* TRANSCRIPT DISPLAY */
  /* GLASS */
  .glass-panel {
    width: 35rem;
    height: 10rem;
    font-size: 1.8rem;
  }
  /* INSTRUCTIONS DISPLAY */
  .instructions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 17rem;
    margin-top: 2rem;
  }
  .message-textbox {
    margin-top: 2rem;
  }
  /* ////////////////////////////////////////////////////////////////////////// */
  /* <------------------------------ LISTEN BTNS -----------------------------> */
  /* ////////////////////////////////////////////////////////////////////////// */
  .mic-btn {
    top: 10px;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .hot-mic-btn {
    top: 0;
    width: 50px;
    height: 50px;
  }
}

/* -------------------------------- Iphone 5/SE -------------------------------- */
@media screen and (max-device-width: 320px) {
  /* /////////////////////////////////////////////////////////////////////////// */
  /* <--------------------------- VIRTUAL ASSISTANT ---------------------------> */
  /* /////////////////////////////////////////////////////////////////////////// */
  .virtual-assistant-container {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .virtual-assistant {
    height: 10rem;
    width: 10rem;
  }
  /* TRANSCRIPT DISPLAY */
  /* GLASS */
  .glass-panel {
    width: 29rem;
    height: 10rem;
    font-size: 1.5rem;
  }
  /* INSTRUCTIONS DISPLAY */
  .instructions-container {
    width: 29rem;
    height: 15rem;
    font-size: 1.5rem;
  }
  #instructions {
    width: 29rem;
    height: 15rem;
    font-size: 1.5rem;
  }
  /* ////////////////////////////////////////////////////////////////////////// */
  /* <------------------------------ LISTEN BTNS -----------------------------> */
  /* ////////////////////////////////////////////////////////////////////////// */
  .mic-btn {
    top: 10px;
    width: 25px;
    height: 25px;
  }
  .hot-mic-btn {
    width: 45px;
    height: 45px;
  }
}
