/* @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
.Clock {
  width: 100vw;
  height: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #140303;
}
.clock-face {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: 20px;
  width: 450px;
  font-size: 52px;
  font-family: "Orbitron", sans-serif;
  box-shadow: 0px 0px 60px 40px rgba(221, 174, 126, 0.3);
  border: 1px solid #4a6670;
}

.time {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c1eeff;
  text-shadow: 0 0 8px #ddae7e, 0 0 2px #ddae7e, 0 0 10px #ddae7e,
    0 0 6px #ddae7e, 0 0 10px #ddae7e, 0 0 10px #ddae7e, 0 0 1px #ddae7e,
    0 0 12px #ddae7e;
}
.blink-text {
  animation: 1s blinker step-end infinite;
  -webkit-animation: 1s blinker step-end infinite;
  -moz-animation: 1s blinker step-end infinite;
  text-align: center;
  color: #c1eeff;
  text-shadow: 0 0 8px #ddae7e, 0 0 2px #ddae7e, 0 0 10px #ddae7e,
    0 0 6px #ddae7e, 0 0 10px #ddae7e, 0 0 10px #ddae7e, 0 0 1px #ddae7e,
    0 0 12px #ddae7e;
}

@-webkit-keyframes blinker {
  67% {
    opacity: 0;
  }
}

@keyframes blinker {
  67% {
    opacity: 0;
  }
} */
